@inject IClientService dbClient

<EditForm Model="newClient" OnValidSubmit="CreateNewClientAsync">
    <div class="card">
        <div class="card-header">
            <h3>Create a new client</H3>
        </div> 

        <DataAnnotationsValidator />
        <div class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text">Name:</span>
                <InputText @bind-Value="newClient.Name" class="form-control" placeholder="Client name" />
                <button class="btn btn-outline-success">Add</button>
            </div>
            <ValidationMessage For="(() => newClient.Name)" />
    
        @if (displaySuccessMessage)
        {
            <SuccessMessage />
        }
        </div>
    </div>
</EditForm>



@code {

    [Parameter] public EventCallback<Client> AddTheClient { get; set; }

    Client newClient = new();
    bool displaySuccessMessage = false;

    async Task CreateNewClientAsync()
    {
        await dbClient.CreateClientAsync(newClient);
        await AddTheClient.InvokeAsync(newClient);

        displaySuccessMessage = true;
        newClient = new();
    }
}