@inject IOrderService dbOrder

<div class="card">
    <div class="card-header">
        <h3>Create a new order</H3>
    </div> 

    <div class="card-body">
        <EditForm Model="newOrder" OnValidSubmit="CreateNewOrderAsync" >
            <DataAnnotationsValidator />
            <div class="input-group mb-3">
                <span class="input-group-text">Decription:</span>
                <InputText @bind-Value="newOrder.Decription" type="text" placeholder="Input text" class="form-control" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Price:</span>
                <InputNumber @bind-Value="newOrder.Price" type="text" class="form-control" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Client ID:</span>
                <InputNumber @bind-Value="newOrder.ClientId" type="text" class="form-control" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Currency ID:</span>
                <InputNumber @bind-Value="newOrder.CurrencyId" type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <ValidationMessage For="(() => newOrder.Decription)" />
                <ValidationMessage For="(() => newOrder.Price)" />
                <ValidationMessage For="(() => newOrder.ClientId)" />
                <ValidationMessage For="(() => newOrder.CurrencyId)" />
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-success">Add</button>
                <span class="text-danger">@message</span>
            </div>

            @if (displaySuccessMessage)
            {
                <SuccessMessage />
            }
        </EditForm>
    </div>
</div>


@code {

    [Parameter] public EventCallback<Order> AddTheOrder { get; set; }

    Order newOrder = new();
    bool displaySuccessMessage = false;
    string message;

    async Task CreateNewOrderAsync()
    {
        message = await dbOrder.CreateOrderAsync(newOrder);
        if(message == string.Empty)
        {
            await AddTheOrder.InvokeAsync(newOrder);

            displaySuccessMessage = true;
            newOrder = new();
        }
    }
}