@page "/clients/{ClientId:int}"
@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@inject BlazorApp1.Repository.IRepository db

<PageTitle>@client.Name</PageTitle>
<h3>
    Client page
</h3>

<div class="row">
    <div class="col">
        <IndividualClient Client="client" IsTable="false"></IndividualClient>
    </div>
    <div class="col">
        <h4>Orders of the selected client</h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Order Id</th>
                        <th>Decription</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Currency Id</th>
                    </tr>
                </thead>
                <tbody>
                    <GenericList ListOfItems="ordersByClient">
                        <ItemTemplate Context="order">
                            <IndividualOrder Order="order" IsTable="true" IsVisibleClientId="false" />
                        </ItemTemplate>
                    </GenericList>
                </tbody>
            </table>
        </div>
    </div>
</div>


@code {
    [Parameter] public int ClientId { get; set; }

    Client client;
    List<Order> ordersByClient;

    protected override void OnInitialized()
    {
        client = db.GetClientById(ClientId);
        ordersByClient = db.GetOrdersByClientId(ClientId);
    }

}
