@page "/orders/{OrderId:int}"
@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@inject BlazorApp1.Repository.IRepository db

<PageTitle>Order #@order.Id</PageTitle>
<h3>
    Order page
</h3>
<div class="row">
    <div class="col">
        <IndividualOrder Order="order" IsTable="false"></IndividualOrder>
    </div>
    <div class="col">
        <h4>Orders of the selected client</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Client ID</th>
                        <th>Name</th>
                        <th>Create Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <IndividualClient Client="associatedClient" IsTable="true" IsWithButtons="false"/>
                </tbody>
            </table>
        </div>
    </div>
</div>


@code {
    [Parameter] public int OrderId { get; set; }

    Order order;
    Client associatedClient;

    protected override void OnInitialized()
    {
        order = db.GetOrderById(OrderId);
        associatedClient = db.GetClientById(order.ClientId);
    }

}
