<AuthorizeView>
    <Authorized>
        <a class="nav-link text-dark" href="Identity/Account/LogOut">Logout</a>
        <a class="nav-link text-dark" href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link text-dark" href="Identity/Account/Login">Sign in</a>
        <a class="nav-link text-dark" href="Identity/Account/Register">Sign up</a>
    </NotAuthorized>
</AuthorizeView>
