@inherits LayoutComponentBase

<PageTitle>BlazorApp2</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
<<<<<<<< HEAD:BlazorApp2/Shared/MainLayout.razor
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
========
        <div class="top-row px-4">
            <a href="/login" target="_blank">Log In</a>
>>>>>>>> 0b3603eba0b2de4084657794cc7946651d4bbf67:BlazorOrders/Shared/MainLayout.razor
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
