<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">

        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <PageTitle>Not found</PageTitle>
                <div class="text-center" style="height: 500px">
                    <img src="https://www.alfaromeo.it/content/dam/moc/common/404-error/mobile/mobile_404.png">
                </div>
            </LayoutView>
        </NotFound>

    </Router>
</CascadingAuthenticationState>


@*
Справочник валют/курсов валют реализовать на сове усмотрение.
Дополнительно можно реализовать сервис приема курсов валют. Для получения курсов можно использовать любой открытый API.

На главное странице вывести статистику заказов клиентов с конвертацией стоимости в выбранную валюту.

Фиксация изменений данных по клиентам и заказам с указанием пользователя и даты/времени редактирования.
Покрытие Unit-тестами основной части логики.
Применение принципов SOLID/Clean Architecture.*@
