@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IClientService dbClient

<PageTitle>Welcome</PageTitle>

<h1>Welcome Page</h1>

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>You're not authorized.</p> <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    List<(Client, Order)> clients;

    protected async override Task OnInitializedAsync()
    {
        clients = await dbClient.GetAllClientsWithOrdersCountAsync();
    }

}