<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Realise Date</th>
                <th><input type="checkbox" @bind="displayButtons" /></th>
            </tr>
        </thead>
        <tbody>
            <GenericList ListOfItems="Games">
                <ItemTemplate Context="game">
                    <IndividualGame Game="game" IsTable="true" DisplayButtons="displayButtons" DeleteGame="DeleteTheGame" />
                </ItemTemplate>
            </GenericList>
            <Confirmation @ref="confirmation" OnCancel="OnCancel" OnConfirm="OnConfirm">
                <div class="text-danger">Do you wish to delete @gameToBeDeleted.Name?</div>
            </Confirmation>
        </tbody>
    </table>
</div>

@code {
    [Parameter] public List<Game> Games { get; set; }

    bool displayButtons = false;

    void DeleteTheGame(Game game)
    {
        gameToBeDeleted = game;
        confirmation.Show();
    }

    Confirmation confirmation;
    Game gameToBeDeleted;

    void OnConfirm()
    {
        Games.Remove(gameToBeDeleted);
        confirmation.Hide();
        gameToBeDeleted = null;
    }
    void OnCancel()
    {
        confirmation.Hide();
        gameToBeDeleted = null;
    }
}
