<div class="row">
    <div class="col text-center" style="height: 500px">
        <img class="h-100" src="https://www.alfaromeo.it/content/dam/moc/common/404-error/mobile/mobile_404.png">
    </div>
</div>